@import 'reset';
@import 'colores';
@import 'variables';


.logo{
	background: white;
    margin-bottom: 0;

    #logo-main{
    display: block;
	margin: auto;
    }
}

.navbar-default{
	background: $naranja-oscuro;
	font-family: $familia-menu;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a{
	color: $blanco;
}

.navbar-nav{
	text-align: center;
	float: none;
}

.navbar-nav > li {
	display: inline-block;
	float: none;
	margin: 0 15px;
}

.intro{
	text-transform: uppercase;
	text-align: center;
	color: $naranja-oscuro;
	font-family: $familia-h;
	font-size: 2em;
	margin: 20px 0;
}

.utilizar{
	font-family: $familia-texto;
	font-size: 16px;
	font-weight: 400;
	color: $gris-claro;
		p{
			margin-bottom: 10px;
			line-height: 18px;
		}
}

h1{
	text-align: center;
	margin: auto;
	padding: 20px 0;
	width: 55%;
	color: $naranja-oscuro;
	font-family: $familia-h;
	font-size: 1.2em;
	line-height: 25px;
}
@media screen and (max-width: 680px) {
   h1 {
       width: 100%;
   }
}

.elementos{
	width: 100%;
	margin-top: 30px;
	img{
		display: block;
		margin: 0 auto;
	}
	p{
		margin-bottom: 10px;
		line-height: 18px;
	}
	h4{
		text-transform: uppercase;
		text-align: center;
		color: $naranja-oscuro;
		font-family: $familia-h;
		font-size: 1.5em;
		margin: 20px 0;
	}
}

.vpk{
	width: 100%;
	margin: 50px 0;
	img{
		display: block;
		margin: 0 auto;
	}
	p{
		margin-bottom: 10px;
		line-height: 18px;
	}
	h4{
		text-transform: uppercase;
		text-align: center;
		color: $naranja-oscuro;
		font-family: $familia-h;
		font-size: 1.5em;
		margin: 20px 0;
	}
}

.btn-primary{
	border: 2px solid $naranja-oscuro;
	background: $blanco;
	color: $naranja-oscuro;
	font-family: $familia-h;
	float: right;
	margin-top: 15px;
}

.btn-primary:hover{
	border-color: $naranja-oscuro;
	background: $naranja-oscuro;
	color: $blanco;
	font-family: $familia-h;
}

.btn-success{
	border-color: $naranja-oscuro !important;
	background: $naranja-oscuro !important;
	color: $blanco !important;
	font-family: $familia-h !important;
}

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: $blanco;
    background-color: $naranja-oscuro;
    border-color: $naranja-oscuro;
}

.btn-primary:focus, .btn-primary.focus {
    color: $blanco;
    background-color: $naranja-oscuro;
    border-color: $naranja-oscuro;
}

.btn-success:visited{
	border-color: $naranja-oscuro !important;
	background: $naranja-oscuro !important;
	color: $blanco !important;
	font-family: $familia-h !important;
}



.parallax {
    /* The image used */
    background-image: url("https://cdn.allwallpaper.in/wallpapers/2560x1600/13611/orange-light-background-2560x1600-wallpaper.jpg");

    /* Set a specific height */
    min-height: 200px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("http://cdn.paper4pc.com/images/orange-light-wallpaper-4.jpg");

    /* Set a specific height */
    min-height: 200px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
